p {font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

font-size: 20px;
text-align: justify;
padding: 7px;
margin: 7px;
}

body{background-color: #7EB6FF;}

.paragraph{
}

.subtitle{
  font-size: 30px;
  border-radius: 3px;
  border-style: dotted;
  border-color: white;
  background: #82CFFD;
  color: black;
  text-align: center;
}

.hyperlink{font-size: 20px;
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
color:  blue;}

.examHeader{font-size: 20px;
text-align: center;
border-style: double;
border-color: darkBlue;
}

.activities {
  border-style: solid;
  border-radius: 3px;
  border-color: #fff;
}

.title {
margin: 7px;
font-size: 40px;
color: #fff;
font-style: italic;
background-color: #0D4F8B;
border-radius: 10px;
border-style: ridge;
border-color: black;
text-align: center;
}

.animacion {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
